/* VARIABLES */
.main_homepage_header {
  font-family: "Lora", serif;
  font-style: normal;
  font-style: italic;
  line-height: normal;
  font-size: 1.4rem;
  font-weight: 700;

  &.colored {
    background: var(
      --Gradient-2,
      linear-gradient(266deg, #7e1cfe -5.94%, #ea0022 43.52%, #2e2c2c 71.6%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (min-width: 576px) {
    font-size: 2.5rem;
  }

  &_text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    max-width: 51rem;
    margin: 0 auto;

    @media screen and (min-width: 576px) {
      font-size: 1.5rem;
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&display=swap");

.homepage_main {
  width: 100%;
  color: var(--neutral-color-007);
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.hero_sec {
  margin: 1rem 0;
}

.hero_sec_inner {
  display: grid;
  place-items: center;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  font-family: "Raleway", sans-serif;
  max-width: 100%;
  padding: 0.5rem;
}

/* HERO LEFT SECTION */

.hero_left {
  width: 100%;
  max-width: 29rem;
}

.hero_big_text {
  font-family: "Lora", serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  font-style: italic;
  line-height: normal;
}

.hero_span_text {
  background: linear-gradient(92deg, #7e1cfe -0.48%, #ea0022 82.82%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_small_text {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.hero_left_btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}
.hero_left_btns button {
  border-radius: 1.25rem;
  display: flex;
  padding: 0.8rem 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  scale: 1;
  cursor: pointer;
}

.hero_left_btns button:hover {
  scale: 1.1;
  font-weight: 600;
}

.hero_left_btns button:nth-child(1) {
  color: #fff;
  background: var(--primary-color-100);
}

.hero_left_btns button:nth-child(2) {
  border: 2px solid var(--primary-color-100);
  background: #fff;
  color: var(--primary-color-100);
}

/* HERO RIGHT SECTION */

.hero_right {
  width: 100%;
}
.hero_right_inner {
  position: relative;
  width: 100%;
  max-width: 35rem;
  margin: 0 auto;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero_icon1,
.hero_icon2,
.hero_icon3,
.hero_icon4 {
  width: 3.5rem;
  height: 5.5rem;
  position: absolute;
  z-index: 10;
  animation: animateHero 8s ease-in-out infinite;
}

.hero_icon1,
.hero_icon2 {
  top: 3rem;
}

.hero_icon3,
.hero_icon4 {
  bottom: 3rem;
}

.hero_icon1 {
  left: 0;
}
.hero_icon2 {
  right: 0;
}

.hero_icon3 {
  left: 0;
}

.hero_icon4 {
  right: 0;
}

.hero_whiteball_icon {
  z-index: -1;
  width: 100%;
  animation: spin 16s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* PERFECT SEC STYLES */
.perfect_content_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.perfect_content_inner {
  display: grid;
  place-content: center;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  padding: 0.5rem;
}

.perfect_content_top {
  display: grid;
  place-content: center;
  align-items: center;
  text-align: center;
  gap: 0.4rem;
}

.perfect_content_top h3 {
  font-family: "Lora", serif;
  font-style: normal;
  font-style: italic;
  line-height: normal;
  font-size: 1.4rem;
  font-weight: 700;
  background: var(
    --Gradient-2,
    linear-gradient(266deg, #7e1cfe -5.94%, #ea0022 43.52%, #2e2c2c 71.6%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.perfect_content_top p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  max-width: 51rem;
  margin: 0 auto;
}

.perfect_content_bottom {
  position: relative;
  width: 100%;
}

.perfect_sec_img {
  width: 100%;
}

/* PERFECT SEC STYLES CONT'D */
.perfect_content {
  &_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &_inner {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .play_btn_icon {
      position: absolute;
      z-index: 100;
      width: 25%;
      cursor: pointer;
      scale: 1;
      transition: all 0.3 ease-in-out;

      &:hover {
        scale: 1.1;
      }
    }

    .perfect_sec_img {
      width: 100%;
      height: 100%;
      max-width: 64rem;
    }
  }
}

/* RETINK_CREATING SEC STYLES */
.retink_creating {
  &_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem;
    text-align: center;
  }

  &_inner {
    display: grid;
    gap: 5rem;
  }

  &_top {
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  &_bottom {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    &_inner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 2.5rem;
      @media screen and (min-width: 992px) {
        gap: 5rem;
      }
    }
  }

  &_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.5rem;
    height: 18rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: var(--neutal-color-001);
    box-shadow: 4px 4px 11px 3px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      box-shadow: 6px 6px 14px 4px rgba(0, 0, 0, 0.2);
    }
    &_inner {
      padding: 3.5rem 1.5rem 1.5rem 1.5rem;
      color: var(--neutral-color-200);

      h4 {
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      p {
        text-align: center;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}

/* CONTENT_OPTIONS SEC STYLES */
.content_options {
  margin: 5rem 0;
  @media screen and (min-width: 768px) {
    margin: 7rem 0;
  }

  &_inner {
    padding: 0.5rem;
  }
  &_top {
    text-align: center;
  }

  &_bottom {
    margin: 4rem 0;
    padding: 0.5rem;

    &_inner {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 3rem;
      width: 100%;
      max-width: 90rem;
      margin: 0 auto;
      @media screen and (min-width: 768px) {
        gap: 8rem;
      }

      .contents {
        &_options_box {
          width: 15rem;
        }

        &_box_img {
          width: 10rem;
          height: 8rem;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .box_img {
            width: 100%;
            aspect-ratio: 1/1;
          }
        }

        &_box_text {
          color: #291b51;
          font-style: normal;
          line-height: normal;
          display: grid;
          gap: 1rem;
          margin-top: 1.5rem;

          h5 {
            text-align: left;
            font-size: 2rem;
            font-weight: 600;
          }

          ul {
            font-size: 1.125rem;
            font-weight: 400;
            padding-inline: 1.5rem 0;
            display: grid;
            gap: 0.5rem;

            li {
              list-style: circle;
            }
          }
        }
      }
    }
  }

  &_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding: 0.8125rem 3rem;
    outline: none;
    border: none;
    border-radius: 1.25rem;
    width: 100%;
    max-width: fit-content;
    margin: 0 auto;
    background: var(--primary-color-100);
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 500;
    opacity: 0.9;
    line-height: normal;
    scale: 1;
    transition: all 0.4s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
      font-weight: 600;
      scale: 1.1;
    }
  }
}

/* WHY_RETINK SEC STYLES */
.why_retink {
  text-align: center;
  margin: 4rem 0;

  &_bottom {
    margin-top: 2.5rem;
    overflow: scroll;
    width: 100%;
    height: 100%;
    @media screen and (min-width: 1300px) {
      overflow: hidden;
    }

    &_inner {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1.2rem;
      margin: 0.5rem;
      width: 100%;
      height: 60vh;
      @media screen and (min-width: 1300px) {
        justify-content: center;
      }
    }
  }

  &_box {
    width: fit-content;
    height: 23rem;
    width: 100%;
    min-width: 19rem;
    max-width: 19rem;
    border-radius: 1.875rem;
    border: 1px solid var(--neutral-color-900);
    background: #fde6e9;
    color: var(--neutral-color-009);
    box-shadow: 4px 4px 11px 3px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      box-shadow: 6px 6px 14px 4px rgba(0, 0, 0, 0.2);
    }

    &_inner {
      position: relative;
      height: 100%;
      width: 100%;
      padding: 4.5rem 0.2rem 0.5rem 0.2rem;
    }

    &_img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 4.75rem;
      height: 5rem;
      margin: 0 auto;
      padding: 1.5625rem 1.375rem 1.50994rem 1.375rem;
      border-radius: 0.3125rem;
      background: #291b51;
      box-shadow: 4px 4px 11px 3px rgba(0, 0, 0, 0.05);
      transition: all 0.3s ease;
      cursor: pointer;
      scale: 1;

      &:hover {
        box-shadow: 6px 6px 14px 4px rgba(0, 0, 0, 0.2);
        scale: 1.2;
      }
    }

    &_header {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: normal;
    }

    &_quotes {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.6875rem;
      padding: 0 0.5rem;
    }
  }
}

/* BUILD_CONTENTS STYLES */
.build_contents {
  &_sec {
    display: none !important;
    // display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    color: var(--neutral-color-007);
    position: relative;
    padding: 2rem 0;
  }
  &_header {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
    line-height: normal;
  }
}

/* CAROUSEL SEC STYLES */

.carousel {
  &_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }

  &_box {
    &_main {
      .page {
        &_number {
          // border: 1px solid red;
          color: #000;
          font-family: Moranga;
          font-size: 2.11606rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          display: flex;
          justify-content: center;
          align-items: baseline;
          gap: 0.1rem;
          width: fit-content;

          .page_icon {
            width: 4rem;
          }
        }
      }
    }
    border-radius: 1.875rem;

    background: linear-gradient(
      267deg,
      #7e1cfe 9.54%,
      rgba(234, 0, 34, 0.5) 41.73%,
      rgba(255, 255, 255, 0) 89.15%
    );
    backdrop-filter: blur(72.5px);
    border: 1px solid #eae4fc;
    padding: 1.5rem;
    padding-bottom: 2rem;
    // padding-right: 8rem;

    &_inner {
      border-radius: 1.875rem;
      // background: linear-gradient(
      //   268deg,
      //   rgba(255, 255, 255, 0.25) 6.05%,
      //   rgba(255, 255, 255, 0.5) 56.55%
      // );
      display: grid;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1rem;
      text-align: left;
    }
  }

  &_left {
    &_inner {
      font-style: normal;
      font-family: Raleway;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: normal;
      width: 100%;
      max-width: 24rem;

      p {
        margin: 1.5rem 0;
      }
    }

    &_header {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: normal;
    }

    ul {
      display: grid;
      gap: 0.1rem;
      li {
        list-style: inside;
      }
    }
  }

  &_right {
    &_img {
      width: 100%;
    }
  }
}

/* JOIN_HUNDRED STYLES */
.join_hundred {
  &_main {
    position: relative;
    margin-block: 5rem 8rem;
  }
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(327deg, #7e1cfe 9.31%, #ea0022 93.81%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 50vh;
  text-align: center;

  &_inner {
    position: relative;
  }

  &_top {
    width: 100%;
    margin: 0 auto;
    max-width: 50rem;
    display: grid;
    gap: 0.7rem;
    padding: 0.8rem;

    h3 {
      font-family: "Lora", serif;
      font-style: normal;
      font-style: italic;
      line-height: normal;
      font-size: 1.5rem;
      font-weight: 700;
      @media screen and (min-width: 768px) {
        font-size: 2.5rem;
      }
    }

    p {
      font-family: Raleway;
      font-size: 0.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      padding: 0 2rem;

      @media screen and (min-width: 768px) {
        font-size: 1.0625rem;
      }
    }
  }

  &_white_box {
    position: relative;
    color: #2f1f5d;
    font-family: Raleway;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    width: 100%;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    inset: -3rem 0;
    padding: 1.2rem 1.6rem;
    border-radius: 0.75rem;
    background: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
      -9px 0px 20px 0px rgba(0, 0, 0, 0.1),
      -36px 0px 36px 0px rgba(0, 0, 0, 0.09),
      -80px 0px 48px 0px rgba(0, 0, 0, 0.05),
      -143px 0px 57px 0px rgba(0, 0, 0, 0.01),
      -223px 0px 63px 0px rgba(0, 0, 0, 0);
    color: #000;

    @media screen and (min-width: 768px) {
      font-style: italic;
    }
    @media screen and (min-width: 1200px) {
      max-width: 70rem;
    }
  }
}
.signup_free {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  &_btn {
    width: fit-content;
    padding: 0.8rem 3rem;
    border-radius: 1.25rem;
    background: var(--primary-color-100);
    color: #fff;
    text-align: center;
    font-family: Raleway;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    outline: none;
    border: none;
    scale: 1;
    opacity: 0.9;
    transition: all 0.4s ease-in-out;

    &:hover {
      opacity: 1;
      scale: 1.1;
    }

    @media screen and (min-width: 768px) {
      padding: 0.6rem 3.5rem;
    }
    @media screen and (min-width: 1200px) {
      padding: 0.8rem 3.5rem;
    }
  }
}

/* MEDIA SCREENS */

@media screen and (min-width: 576px) {
  .perfect_content_inner {
    gap: 5rem;
  }

  .perfect_content_top p {
    font-size: 1.5rem;
  }

  .perfect_content_top h3 {
    font-size: 2.5rem;
  }

  .perfect_content_top {
    gap: 0.7rem;
  }

  .perfect_content_inner {
    gap: 5rem;
  }

  .hero_big_text {
    font-size: 3rem;
  }

  .hero_small_text {
    font-size: 1.5rem;
    line-height: normal;
  }

  .hero_left_btns {
    gap: 2rem;
  }

  .hero_left_btns button {
    padding: 0.8125rem 3rem;
  }

  .hero_icon1,
  .hero_icon2 {
    top: 0;
  }

  .hero_icon3,
  .hero_icon4 {
    bottom: 0;
  }

  .hero_icon1,
  .hero_icon2,
  .hero_icon3,
  .hero_icon4 {
    width: 5rem;
    height: 7rem;
    animation: animateHero 8s ease-in-out infinite;
  }
}

@media screen and (min-width: 992px) {
  .hero_sec {
    margin: 5rem 0;
  }

  .hero_sec_inner {
    display: flex;
    gap: 3rem;
  }

  .hero_right {
    width: 45%;
  }

  .hero_whiteball_icon {
    width: fit-content;
  }

  .hero_icon1 {
    animation: animateHeroDesktop 8s ease-in-out infinite;
  }
  .hero_icon2 {
    animation: animateHeroDesktop 7s ease-in-out infinite;
  }
  .hero_icon3 {
    animation: animateHeroDesktop 6s ease-in-out infinite;
  }
  .hero_icon4 {
    animation: animateHeroDesktop 5s ease-in-out infinite;
  }
}

@media screen and (min-width: 1200px) {
  .hero_icon1,
  .hero_icon2,
  .hero_icon3,
  .hero_icon4 {
    width: 7.875rem;
    height: 6.625rem;
  }
}

@keyframes animateHero {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
}
@keyframes animateHeroDesktop {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(18px);
  }
}
